html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url(./nebula_background.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
}

header {
    width: 91%;
    max-width: 680px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 25px;
}

.share-button {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share-button svg {
    margin-bottom: 3px;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    justify-content: center;
}

.social-media-container a {
    padding-left: 8px;
    padding-right: 8px;
}

.social-media-container svg {
    height: 38px;
    width: 38px;
    fill: rgb(255,255,255);
}

.social-media-container a:hover {
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    transform: scale(1.08);
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0, 0.2, 0.5, 3);
    transition-delay: 0s;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
    font-size: 17px;
}

.tile {
    width: 100%;
    background-color: rgb(27, 27, 27);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile:hover {
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
    transform: scale(1.02);
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0, 0.2, 0.5, 3);
    transition-delay: 0s;
}


.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52,52,52);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-share-button svg {
    margin-left: 0.8px;
    margin-bottom: 3px;
}

.image-container {
    height: 165px;
    width: 165px;
    border-radius: 82.5px;
    overflow: hidden;
    box-shadow: 0 0 3px 2px #ef1a1e;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;  
}

@media only screen and (min-width: 1240px) {
    .tile .tile-share-button {
        visibility: hidden;
    }
    
    .tile:hover .tile-share-button {
        visibility: visible;
        transition-timing-function: ease-in-out;
        transition-duration: .1s;
        transition-delay: 0.075s;   
    }
}
